# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
*.egg-info/
build/
dist/

# IDE & Editor specific
.idea/
.vscode/
*.swp
*.bak

# macOS specific
.DS_Store

# --- Project Specific ---
audio/
output/
cache/

.env*