# Виртуальное окружение Python
.venv/
# Другие игнорируемые файлы и папки
govno/

# Можно добавить и другие стандартные игноры для Python, если их еще нет:
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*env/
venv/
env/
ENV/
# и т.д.